<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="{{stylesheet}}">
</head>
<body>
    <h1>Recipes</h1>
    <div class="recipe">
        <h2>{{recipe.title}}</h2>
        <h3>Ingredients</h3>
        <ul>
            {% for ingredient in recipe.ingredients.split("\n") %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
        <h3>Instructions</h3>
        <ol>
            {% for step in recipe.instructions.split("\n") %}
                <li>{{ step }}</li>
            {% endfor %}
        </ol>
        <span class="">Recipe source: <a href="{{recipe.recipe_source}}">{{recipe.recipe_source}}</a></span><br/>
    </div>
</body>
</html>